@font-face {
  font-family: "Inconsolata";
  src: url("./assets/font/Inconsolata.ttf");
}

:root {
  /* Kanagawa color scheme: https://github.com/rebelot/kanagawa.nvim?tab=readme-ov-file#color-palette */
  --backgroundDark: #16161d;
  --backgroundDefault: #1f1f28;
  --backgroundLight: #2a2a37;
  --backgroundLighter: #363646;
  --popupBackground: #223249;
  --gray: #727169;
  --foreground: #dcd7ba;
  --foregroundDark: #c8c093;
  --blueDark: #252535;
  --blue: #7e9cd8;
  --violet: #957fb8;
  --green: #98bb6c;
  --yellow: #e6c384;
  --orange: #ffa066;
  --red: #e46876;
  --shadow: 2px 2px 6px rgba(0, 0, 10, 0.1);
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 5fr;
  color: var(--foreground);
  height: 100vh;
}

header {
  background-color: var(--backgroundLighter);
  grid-column: 1 / 3;
}

#title {
  font-size: 4.5em;
  margin: 0.2em;
  margin-left: 2ch;
  color: var(--blue);
}

/* Side Menu*/
#menu {
  background-color: var(--backgroundLight);
}

.projectLine {
  display: flex;
  justify-content: space-between;
}

.projectLine:hover {
  background-color: var(--backgroundLighter);
}

.selected {
  background-color: var(--violet);
}

.selected:hover {
  background-color: var(--violet);
}

.projectLine button {
  font-family: "Inconsolata", monospace;
  background-color: transparent;
  border: none;
  color: var(--foreground);
  font-size: 1.5em;
  padding: 1ch;
}

.deleteProject {
  border-radius: 4px;
  margin: 1ch;

  &:hover {
    background-color: var(--red);
  }
}

.addProject {
  background-color: transparent;
  border: 3px solid transparent;
  color: var(--green);
  font-size: 4ch;
  font-weight: 700;
  text-align: center;
  width: 100%;

  &:hover {
    border-color: var(--green);
  }
}

/*Central content*/
#content {
  background-color: var(--backgroundDefault);
  padding: 2ch;
}

.card {
  display: grid;
  grid-template-rows: 2ch 4ch;
  grid-template-columns: repeat(10, 1fr);
  border: solid 1px var(--backgroundLight);
  border-radius: 15px;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
  background-color: var(--blueDark);
  box-shadow: var(--shadow);
}

.done {
  background-color: var(--backgroundDark);
  color: var(--gray);
}

.low {
  border-left: solid 5px var(--red);
}

.mid {
  border-left: solid 5px var(--orange);
}

.high {
  border-left: solid 5px var(--green);
}

.descriptionTodo {
  grid-row: 2/3;
  grid-column: 1/11;
}

.cardTitle {
  grid-column: 1/8;
  color: var(--violet);
  font-size: 3ch;
}

.done .cardTitle {
  color: var(--gray);
}

.dateTodo {
  grid-column: 8/9;
}

.doneButton {
  grid-column: 9/10;
  font-family: "Inconsolata", monospace;
  font-size: 2ch;
  background-color: var(--green);
  border: none;
  color: var(--backgroundDefault);
  width: 6ch;
  padding: 5px;
  margin: 0 0 0 auto;
  border-radius: 4px;
}

.done .doneButton {
  background-color: var(--red);
}

.deleteTodo {
  grid-column: 10/11;
  background-color: transparent;
  border: none;
  color: var(--backgroundDefault);
  width: 4ch;
  padding: 5px;
  margin: 0 0 0 auto;
  border-radius: 4px;

  &:hover {
    background-color: var(--red);
  }
}

.addTodo {
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
  color: var(--green);
  font-size: 4ch;
  font-weight: 700;
  text-align: center;
  width: 4ch;

  &:hover {
    border-color: var(--green);
  }
}

/* Dialogs*/

dialog::backdrop {
  background-color: rgba(0, 0, 15, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

dialog {
  padding: 20px;
  border: solid 4px var(--blueDark);
  background-color: var(--popupBackground);
  color: var(--foreground);
  border-radius: 15px;
}

dialog button {
  font-family: "Inconsolata", monospace;
  margin-top: 25px;
  background-color: transparent;
  color: var(--green);
  font-size: 1.2em;
  font-weight: 400;
  padding: 5px 10px;
  border: 1px solid var(--green);
  border-radius: 4px;

  &:hover {
    color: var(--popupBackground);
    background-color: var(--green);
    border-color: var(--green);
  }
}

.dialogProject input {
  font-family: "Inconsolata", monospace;
  width: 20em;
  height: 2em;
  border-radius: 4px;
  padding: 0 5px;
  background-color: var(--backgroundDark);
  color: var(--foreground);
  font-size: 1em;
  border: solid 1px transparent;

  &:focus {
    border-color: var(--violet);
    outline: none;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dialogTodoCreate input {
  font-family: "Inconsolata", monospace;
  width: 10em;
  height: 2em;
  border-radius: 4px;
  padding: 0 5px;
  background-color: var(--backgroundDark);
  color: var(--foreground);
  font-size: 1em;
  border: solid 1px transparent;

  &:focus {
    border-color: var(--violet);
    outline: none;
  }
}

#todoDate {
  width: 7em;
}

.dialogTodoCreate textarea {
  font-family: "Inconsolata", monospace;
  border-radius: 4px;
  padding: 5px;
  background-color: var(--backgroundDark);
  color: var(--foreground);
  font-size: 1em;
  border: solid 1px transparent;

  &:focus {
    border-color: var(--violet);
    outline: none;
  }
}

#description {
  display: grid;
  gap: 5px;
}

.selectPriority {
  margin-top: 15px;
}

.dialogTodoCreate select {
  font-family: "Inconsolata", monospace;
  border-radius: 4px;
  padding: 5px;
  background-color: var(--backgroundDark);
  color: var(--foreground);
  font-size: 1em;
  border: solid 1px transparent;
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    border-color: var(--violet);
    outline: none;
  }
}
